*  {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: #b3b9c4;
  background-color: black;
  opacity: 1;
  margin: 0 auto;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-flow: column wrap; /* If main axis is column cross axis runs along rows.*/
  flex: 1 1 auto;
  text-align: center; /* Text centered horizontally */
  max-width: 100%;
  width: 1240px;
  margin: 0 auto;
  height: 100%;
  overflow: visible;
}

/* Header Child */

.header:nth-child(1) {
  display: flex;
  position: absolute;
  top: 0px;
  max-width: 1240px;
  width: 100%;
  max-height: 69px;
  min-height: 69PX;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  max-height: 50px;
  min-height: 50px;
  max-width: 158px;
  padding: 10px 0px 9px 0px;
  margin: 0;
}

.nav-container {
  display: flex;
  max-width: 350px;
  max-height: 70px;
  color: #b3b9c4;
  align-items: center;
  margin: 0;
  padding: 10px 0px 9px 0px;
  justify-content: flex-end;
}

.nav-container ul li {
  display: inline-flex;
  color: #b3b9c4;
  text-decoration: underline;
  padding: 10px 0px 9px 10px; /* Top Right Bottom Left */
}

nav li a:hover {
  color: lightpink;
}

nav li a :active {
  color: violet;
}

/* Mission Child */

.mission:nth-child(2) {
  display: flex;
  position: relative;
  top: 77px;
  background-image: "./images/img-mission-background.jpg";
  object-fit: contain;
  overflow: hidden;
  background-repeat: none;
  background-position: center;
  background-size: contain;
  max-height: 700px;
  max-width: 1200px;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.mission > div {
position: absolute;
background-color: black;
max-height: 100px;
height: 100px;
max-height: 1000px;
width: 100%;
top: 41%;
z-index: 50;
color: #b3b9c4;
font-weight: bold;
text-align: center;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
}

.mission-banner > * {
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 1000px;
  width: 100%;
}

.mission-banner > h2 {
  padding-bottom: 10px;
}

.mission-banner > h4 {
 font-weight: 400 bolder;
}

/* Tea of the Month */

.tea-of-the-month:nth-child(3) {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  top: 120px;
  text-align: center;
  max-width: 1000px;
  width: 100%;
  min-width: 480px;
  height: 140px;
  max-height: 100%; 
  margin-top: 0;
  overflow: visible;
}

.tea-of-the-month > h2 {
  color: #b3b9c4;
  margin-bottom: -10px;
}

.tea-of-the-month > h3 {
  color: #b3b9c4;
  margin: 0;
}

/* Tea Gallery Child */

.tea-gallery:nth-child(4) {

  display: flex;
  flex-flow: row wrap;
  position: relative;
  place-content: center;
  top: 120px;
  max-width: 1000px;
  max-height: 700px;
  overflow: visible;
  z-index:50;
}

figure {
  margin-right: 1.55%;
  margin-left: 1.55%;
}

figcaption h4 {
  padding: 10px;
  margin: 0px;
}

/* Locations Child */

.locations-section:nth-child(5) {
  display: flex;
  position: relative;
  top: 113px;
  margin-top: 0px;
  max-width: 1280px;
  max-height: 750px;
  overflow: hidden;
  background-color: black;
}

.image-container {
  position: relative;
  top: 100px;
  width: 1200px;
  height: 750px;
  margin-top: 0;
}

.image-container > h1 {
  position: absolute;
  top: 0px;
  place-content: center;
  background-color: transparent;
  width: 100%;
  max-height: 100px;
  color: #b3b9c4;
  font-weight: 700;
  font-size: 1.5em;
  opacity: .5;
  z-index: 99;
}

.image-container img {
  display: flex;
  position: relative;
  top: 0;
  background-image: "./images/img-locations-background.jpg";
  background-color: black;
  overflow: hidden;
  background-repeat: none;
  background-position: center;
  max-height: 750px;
  max-width: 1200px;
  width: 100%;
  opacity: .5;
  z-index: 1;
}

.three-locations-wrapper {
  display: flex;
  position: absolute;
  flex-flow: column wrap;
  place-content: center;
  top: 170px;
  width: 1200px;
  max-height: 300px;
  background-color: transparent;
  column-gap: 40px;
  z-index: 50;
}

.loc-items {
  background-color: black;
  flex-grow: 1;
  width: 300px;
  height: 280px;
  z-index: 98;
  opacity: 1;
}

.loc-items > h3 {
  font-weight: 700;
  z-index: 99;
}

.loc-items > p {
  margin: 40px 0;
  font-weight: 500;
  z-index: 99;
}

/* Contacts Child */

.contact:nth-child(6) {
  display: inline-flex;
  position: relative;
  top: 50;
  flex-flow: column wrap;
  text-align: center;
  color: #b3b9c4;
  width: 1200px;
  max-height: 300px;
  height: 100%;
  z-index: 99;
}

#email {
  display: inline-flex;
  position: relative;
  justify-content: center;
  top: 20px;
}

.copyright:nth-child(7) {
  display: flex;
  position: relative;
  top: -20px;
  margin-left: 0px;
  padding-left: 20px;
}

/* Header Defaults */

h1 {
  display: flex;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {

  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}